binkw64.dll
DarkSoulsIII.exe
Data0.bdt
Data0.bhd
Data1.bdt
Data1.bhd
Data2.bdt
Data2.bhd
Data3.bdt
Data3.bhd
Data4.bdt
Data4.bhd
Data5.bdt
Data5.bhd
DLC1.bdt
DLC1.bhd
DLC2.bdt
DLC2.bhd
fmodex64.dll
fmod_event64.dll
steam_api64.dll
movie/fdp_endroll_ww.bik
movie/fdp_opening.bik
sound/fdp_mixer.fev
sound/fdp_multich.mch
sound/fdp_multimix.mix
sound/fdp_multirpc.rpc
sound/fdp_rm30.fsb
sound/fdp_rm31.fsb
sound/fdp_rm32.fsb
sound/fdp_rm33.fsb
sound/fdp_rm34.fsb
sound/fdp_rm35.fsb
sound/fdp_rm37.fsb
sound/fdp_rm38.fsb
sound/fdp_rm39.fsb
sound/fdp_rm40.fsb
sound/fdp_rm41.fsb
sound/fdp_rm45.fsb
sound/fdp_rm50.fsb
sound/fdp_rm51.fsb
sound/fdp_sm30.fsb
sound/fdp_sm31.fsb
sound/fdp_sm32.fsb
sound/fdp_sm33.fsb
sound/fdp_sm34.fsb
sound/fdp_sm35.fsb
sound/fdp_sm37.fsb
sound/fdp_sm38.fsb
sound/fdp_sm39.fsb
sound/fdp_sm40.fsb
sound/fdp_sm41.fsb
sound/fdp_sm45.fsb
sound/fdp_sm50.fsb
sound/fdp_sm51.fsb
sound/fdp_smain.fsb
sound/fdp_smain_dlc1.fsb
sound/fdp_vm30.fsb
sound/fdp_vm31.fsb
sound/fdp_vm32.fsb
sound/fdp_vm33.fsb
sound/fdp_vm34.fsb
sound/fdp_vm35.fsb
sound/fdp_vm37.fsb
sound/fdp_vm38.fsb
sound/fdp_vm39.fsb
sound/fdp_vm40.fsb
sound/fdp_vm41.fsb
sound/fdp_vm45.fsb
sound/fdp_vm50.fsb
sound/fdp_vm51.fsb
sound/fdp_xm30.fsb
sound/fdp_xm31.fsb
sound/fdp_xm32.fsb
sound/fdp_xm33.fsb
sound/fdp_xm34.fsb
sound/fdp_xm35.fsb
sound/fdp_xm37.fsb
sound/fdp_xm38.fsb
sound/fdp_xm39.fsb
sound/fdp_xm40.fsb
sound/fdp_xm41.fsb
sound/fdp_xm45.fsb
sound/fdp_xm46.fsb
sound/fdp_xm47.fsb
sound/fdp_xm50.fsb
sound/fdp_xm51.fsb
sound/fdp_xm53.fsb
sound/fdp_xm54.fsb